	<aside class="sidebar-left">

		<a class="company-logo" href="#">User</a>

		<div class="sidebar-links">
			<a class="link-blue" ui-sref='app.main_dash' ui-sref-active = 'selected'><i class="fa fa-picture-o"></i>Dashboard</a>
			<a class="link-yellow" ui-sref='app.history' ui-sref-active = 'selected'><i class="fa fa-heart-o"></i>History</a>
			<a class="link-red" ui-sref="app.map" ui-sref-active = 'selected'><i class="fa fa-map-marker"></i>Maps</a>
			<a class="link-green" ui-sref = "app.add_results" ui-sref-active = 'selected'><i class="fa fa-picture-o"></i>Add Results</a>
		</div>

	</aside>